In [94]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import seaborn as sns
import PIL
import math
from tqdm import tqdm
tqdm.pandas()
import glob
import collections

In [83]:
train_csv = pd.read_csv('../../data/train_ship_segmentations_v2.csv')
train_images = glob.glob('../../data/train_v2/*.jpg')

In [68]:
train_csv.head()

         ImageId                                      EncodedPixels
0  00003e153.jpg                                                NaN
1  0001124c7.jpg                                                NaN
2  000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3  000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
4  000194a2d.jpg  51834 9 52602 9 53370 9 54138 9 54906 9 55674 ...

In [69]:
train_csv_copy = train_csv.copy()

In [70]:
temp = train_csv_copy.groupby('ImageId', as_index=False).agg(lambda x: list(x))

In [71]:
counter = []
for x in temp.EncodedPixels.values.tolist():
    counter.append(len(x))

In [72]:
counter[:5]

[1, 1, 1, 5, 1]

In [73]:
temp.head()

         ImageId                                      EncodedPixels
0  00003e153.jpg                                              [nan]
1  0001124c7.jpg                                              [nan]
2  000155de5.jpg  [264661 17 265429 33 266197 33 266965 33 26773...
3  000194a2d.jpg  [360486 1 361252 4 362019 5 362785 8 363552 10...
4  0001b1832.jpg                                              [nan]

In [74]:
def count_ships(data):
    if len(data) == 1:
        if type(data[0]) == float:
        # if math.isnan(data[0]) == True:
            return 0
        else:
            return 1
    else:
        return len(data)

In [75]:
temp['counts'] = temp['EncodedPixels'].progress_apply(count_ships)

100%|██████████| 192556/192556 [00:00<00:00, 1285068.24it/s]

In [78]:
len(temp)

192556

In [86]:
temp['classification_label'] = temp['counts'].apply(lambda x: 0 if x == 0 else 1)

In [89]:
classification_labs = temp['classification_label'].values.tolist()

In [91]:
colle(classification_labs)

{0, 1}

In [95]:
collections.Counter(classification_labs)

Counter({0: 150000, 1: 42556})